<ul class="toc-footer">
  <li><a href='http://oxidemod.org'>Get help on our forums</a></li>
  <li><a href='https://github.com/OxideMod/Oxide'>View the source on GitHub</a></li>
  <li><a href='https://github.com/OxideMod/Docs'>Contribute to the Docs on GitHub</a></li>
</ul>
