<ul class="toc-footer">
  <li><a href='https://oxidemod.org'>Get help on our forums</a></li>
  <li><a href='https://github.com/OxideMod'>View the source on GitHub</a></li>
  <li><a href='https://github.com/OxideMod/Oxide.Docs'>Contribute to the Docs</a></li>
</ul>
